{% extends '::almacen.html.twig' %}

{% block article %}
<h1>Caja creation</h1>

<form action="{{ path('almacen_caja_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">Create</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('almacen_caja') }}">
            Back to the list
        </a>
    </li>
</ul>


{% endblock %}